* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: Helvetica, Arial, sans-serif;
}

header {
    padding: 20px 35px;
    background-color: black;
    
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    display: inline;
}

header a {
    text-decoration: none;
    color: black;
    font-weight: normal;
    color: rgb(148, 245, 239);
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
    color: rgb(148, 245, 239);
  }


/* about me styles */

.aboutme h2 {
    color: rgb(148, 245, 239);
    background-color: black;
    font-size: 30px;
}

  footer {
    width: 100%;
    padding: 40px 50px;
}

footer h2 {
    display: inline;
    line-height: 1.5;
}